<h2>Create New User</h2>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <label>
        <span>Name: </span>
        <input type="text" formControlName="name">
    </label>
    <label>
        <span>Email: </span>
        <input type="email" formControlName="email">
    </label>
    <label>
        <span>Address: </span>
        <input type="text" formControlName="address">
    </label>
    <label>
        <span>Admin: </span>
        <input type="checkbox" formControlName="isAdmin">
    </label>
    <div class="col-2">
        <button type="reset">Cancel</button>
        <button type="submit">Create</button>
    </div>
</form>